body{
    padding: 0px;
    margin: 0px;
    background-image: url(fondo.jfif);
    background-attachment: fixed;
}

.registroUsuario{
    background: white;
}
#txtAddress1{
    margin-bottom: 8px;
    
}